<%= form_for(@hatebu_tag) do |f| %>
  <% if @hatebu_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hatebu_tag.errors.count, "error") %> prohibited this hatebu_tag from being saved:</h2>

      <ul>
      <% @hatebu_tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tag_name %><br />
    <%= f.text_field :tag_name %>
  </div>
  <div class="field">
    <%= f.label :hatebu_category_id %><br />
    <%= f.number_field :hatebu_category_id %>
  </div>
  <div class="field">
    <%= f.label :cnt %><br />
    <%= f.number_field :cnt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
