<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hatebu_tag.name %>
</p>

<p>
  <b>Hatebu catebory:</b>
  <%= @hatebu_tag.hatebu_catebory_id %>
</p>

<p>
  <b>Cnt:</b>
  <%= @hatebu_tag.cnt %>
</p>


<%= link_to 'Edit', edit_hatebu_tag_path(@hatebu_tag) %> |
<%= link_to 'Back', hatebu_tags_path %>
