<h1>Listing hatebu_eids</h1>

<table>
  <tr>
    <th>Eid</th>
    <th>Hatebu category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hatebu_eids.each do |hatebu_eid| %>
  <tr>
    <td><%= hatebu_eid.eid %></td>
    <td><%= hatebu_eid.hatebu_category_id %></td>
    <td><%= link_to 'Show', hatebu_eid %></td>
    <td><%= link_to 'Edit', edit_hatebu_eid_path(hatebu_eid) %></td>
    <td><%= link_to 'Destroy', hatebu_eid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hatebu eid', new_hatebu_eid_path %>
